/* Add a custom font */
h4 {
  font-family: "Roboto", sans-serif;
}

/* Center and style the to-do list section */
section#to-do-list {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: white;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: 0 2px 8px 3px rgba(151, 151, 151, 0.42);
}

/* Style the header of the to-do list */
.to-do-header {
  width: 100%;
  display: flex;
  height: 50px;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px solid #cacaca;
  padding: 0 20px;
  align-items: center;
}

/* Container for to-do input */
div#input-container {
  height: 50px;
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
}

/* Input field for to-do input */
input#input-field {
  width: 100%;
  height: 50px;
  border: none; /* Removes border from input field */
  box-sizing: border-box;
  border-bottom: 1px solid #c3c3c3; /* Adds bottom border to input field */
  font-size: 16px;
  padding-left: 19px;
  font-family: "Roboto", sans-serif;
}

/* Adds focus-visible style for input field */
input#input-field:focus-visible {
  outline: 0;
}

/* Icon for to-do input */
.icon {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: move;
  right: 20px;
}

/* SVG icon for to-do input */
.icon svg {
  color: #f8f6f6;
  height: 16px;
  display: flex;
  align-self: flex-end;
}

#to-do-input-container svg {
  position: absolute;
  right: 19px;
}

/* The unordered list with ID list */
#list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* Display as flex container */
  flex-direction: column; /* Arrange items vertically */
  width: 100%;
}

/* The list item with class item-to-do */
#list .item-to-do {
  width: 100%;
  height: 50px;
  box-sizing: border-box; /* Box-sizing to include border */
  border-bottom: 1px solid #c3c3c3; /* Bottom border with light gray color */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px; /* Add left padding */
  font-family: "Roboto", sans-serif;
  position: relative;
  gap: 20px;
}

/* The remove button with class remove-btn */
#list .remove-btn {
  height: 50px;
  display: flex; /* Display as flex container */
  justify-content: center; /* Center align items horizontally */
  text-align: left;
  align-items: center;
  background: #f3f2f2;
  width: 100%;
  color: #6e6d6d;
  cursor: pointer; /* Add cursor pointer */
  font-family: "Roboto", sans-serif; /* Use Roboto font */
}

/* The remove icon with class to-do-icon and ID remove */
#list .to-do-icon.remove {
  display: none; /* Initially hide the icon */
  right: 30px;
  cursor: pointer;
}

input.input-to-do {
  border: none;
  font-size: 16px;
  display: flex;
  height: 93%;
  width: 80%;
}

input.input-to-do:focus-visible {
  outline: 0;
}

li.item-to-do.edit,
.edit .input-to-do {
  background: #f8eeb4;
}

.edit .to-do-icon.remove {
  display: block;
}

.to-do-icon.drag {
  display: block;
}

.edit .to-do-icon.drag {
  display: none;
}

.checked input.input-to-do {
  text-decoration: line-through;
  color: gray;
}

.remove-btn.disabled {
  cursor: not-allowed;
  background: #cecdcd;
}
